node_modules/
lib/
static/

# scala related
logs
project/metals.sbt
project/project
project/target
modules/client/target
modules/client/package-lock.json
target
tmp
.bsp/
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.bloop
.vscode/
.metals/
build/
.scala_build/
/RUNNING_PID
.settingsz
.DS_Store
/tmp
null